body {
  background-color: #e8f9fd;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 25%;
}

h1,
h2,
h3 {
  color: #66bfbf;
}

/* CLASS SELECTORS */
.profile-picture {
  border-radius: 50%;
}

.project {
  text-align: left;
}
